.intro h1 {
  font-family: 'Cutive Mono', monospace;
  font-size: 48px;
}

.intro {
  padding: 100px 80px 0 80px;
}

.intro p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}